[submodule "MetalLearning/vendor/imgui"]
    path=MetalLearning/vendor/imgui
    url=https://github.com/TheCherno/imgui.git
[submodule "MetalLearning/vendor/spdlog"]
	path = MetalLearning/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
